
#tablaLoteClasificador {
	border-collapse: collapse;
	td {
		border: 1px solid #ffcc00;
		padding: 10px;
	}
	th {
		border: 1px solid #ffcc00;
		padding: 10px;
	}
}
#tablaInfoLotes {
	border-collapse: collapse;
	td {
		border: 1px solid #ffcc00;
		padding: 10px;
	}
	th {
		border: 1px solid #ffcc00;
		padding: 10px;
	}
}
#tablaRecetas {
	border-collapse: collapse;
	td {
		border: 1px solid #ffcc00;
		padding: 10px;
	}
	th {
		border: 1px solid #ffcc00;
		padding: 10px;
	}
}
#tablaIngredientes {
	border-collapse: collapse;
	td {
		border: 1px solid #ffcc00;
		padding: 10px;
	}
	th {
		border: 1px solid #ffcc00;
		padding: 10px;
	}
}
#tablaJoyas {
	border-collapse: collapse;
	td {
		border: 1px solid #ffcc00;
		padding: 10px;
	}
	th {
		border: 1px solid #ffcc00;
		padding: 10px;
	}
}
#tablaModificarJoya {
	border-collapse: collapse;
	td {
		border: 1px solid #ffcc00;
		padding: 10px;
	}
	th {
		border: 1px solid #ffcc00;
		padding: 10px;
	}
}
#tablaInventario {
	border-collapse: collapse;
	border-collapse: collapse;
	td {
		border: 1px solid #ffcc00;
		padding: 10px;
		border: 1px solid #ffcc00;
		padding: 10px;
	}
	th {
		border: 1px solid #ffcc00;
		padding: 10px;
		border: 1px solid #ffcc00;
		padding: 10px;
	}
}
#tablaComponentes {
	border-collapse: collapse;
	td {
		border: 1px solid #ffcc00;
		padding: 10px;
	}
	th {
		border: 1px solid #ffcc00;
		padding: 10px;
	}
}
