.animacion {
    position: relative;
    --primary: $color_1;
}

.inputUsuario {
    all: unset;
    color: #1b1919;
    padding: 1rem;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(220, 255, 132, 0.855);
}

.labelUsuario {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #9c9898;
    pointer-events: none;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inputUsuario:focus {
    border: 1px solid;
    color: #413d3d;
}

.inputUsuario:is(:focus, :valid) ~ .labelUsuario {
    transform: translateY(-150%) scale(1);
    padding-inline: 0.3rem;
    color: black;
}
