body {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 89, 255);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  opacity: 0.7;
}


.titulo {
  margin-left: 450px;
  margin-right: 450px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Arial Black', sans-serif;
  color: rgb(28, 33, 42);
  font-size: 50px;
}

.texto {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Arial Black', sans-serif;
  color: rgb(28, 33, 42);
  font-size: 50px;
}

#buscador {
  border-radius: 25px;
  background-color: rgb(79, 117, 255);
}

#btnBuscar {
  border-radius: 25px;
  background-color: rgba(220, 255, 132, 0.855);
  color: rgb(79, 117, 255);

}

.tabla-centro {
  color: rgb(15, 16, 19);
  font-size: 2em;

  border-radius: 0 3em 3em 0;
  border-right: 4px solid  rgb(91, 148, 255);
  border-top: 4px solid  rgb(91, 148, 255);
  border-bottom: 4px solid rgb(91, 148, 255);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 1em;
  display: flex;
  justify-content: center;
  background-color:rgba(220, 255, 132, 0.494);
  width: 50%;
  margin: auto;
}

.tabla-centro td,
.tabla-centro th {
  border-radius: 0 3em 3em 0;
  border: 4px solid  rgba(10, 40, 5, 0.391);
  padding: 10px;
  -webkit-backdrop-filter: blur(10px);
  background-color:  rgba(115, 146, 91, 0.753);
}

.tabla-centro tbody td {
  background-color:  rgba(178, 218, 148, 0.432);

}
