
 body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #4b4b4b;
    color: #FFFFFF;
  }
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
    opacity: 0.7;
  }
  header {
    background-color: rgba(213, 178, 91, 0.749);
    color: #FFFFFF;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0px;
  }
  img {
    margin-right: 80px;
    position: relative;
    top: 0px;
    left: 0;
  }  

  footer {
    background-color:  rgba(213, 178, 91, 0.749);
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
    position: relative;
    font-family: "Formula1-Italic";
    margin-top: 10%;
    width: 100%;
  }
  
  .footer-contenido {
    margin: 20px 20px;
  }
  
  .privacy-policy a {
    color: #fff;
    text-decoration: none;
  }
  
  .copyright span {
    color: #fff;
    text-decoration: none;
  }
  
  h2 {
    padding-top: 20px;
    text-align: center;
    font-family: "Formula1-Bold";
    font-size: 24px;
    letter-spacing: 2px;
    font-size: 24px;
    letter-spacing: 2px;
  }
  
  h3 {
    padding-top: 20px;
    text-align: center;
    font-family: "Formula1-Bold";
    font-size: 24px;
    letter-spacing: 2px;
    font-size: 24px;
    letter-spacing: 2px;
  }
 
  a {
    text-decoration: none;
    color: white;
  }