#tablaLoteClasificador {
    border-collapse: collapse;
}

#tablaLoteClasificador td, #tablaLoteClasificador th {
    border: 1px solid #000000;
    padding: 8px;
}

#tablaInfoLotes {
    border-collapse: collapse;
}
#tablaInfoLotes td, #tablaInfoLotes th {
    border: 1px solid #000000;
    padding: 8px;
}

#tablaRecetas{
    border-collapse: collapse;
}
#tablaRecetas td, #tablaRecetas th {
    border: 1px solid #ffffff;
    padding: 8px;
}
#tablaIngredientes{
    border-collapse: collapse;
}
#tablaIngredientes td, #tablaIngredientes th {
    border: 1px solid #ffffff;
    padding: 8px;
}